.wrap
  / = Navigation
  .navbar.navbar-default.navbar-fixed-top
    .container
      = form_tag search_to_dos_path, method: :get do
        Start Date:
        = date_field_tag "search[start_date]"
        End Date:
        = date_field_tag "search[end_date]"
        Name:
        = select_tag "search[assignee_name]", options_for_select(Assignee.pluck(:assignee_name)), include_blank: true
        Completed?
        =radio_button_tag "search[completed]", true, checked = false
        = submit_tag "Search"
      .navbar-header

/ = Page content
.container
  .page-header
    %br
    %br
    = button_to 'New To do', new_to_do_path, :method => :get
    = button_to 'New Assignee', new_assignee_path, :method => :get
    %br
    %h2 Current Tasks

    %table.table.table-hover
      %thead
        %tr
          %th Complete
          %th Task name
          %th Due date
          %th Assignee
          %th Edit
          %th Delete
      %tbody
      - @to_dos.each do |to_do|
        - person = Assignee.find(to_do.assignee_id)
        - if !to_do.complete
          %tr
            %td= button_to "Completed?", to_do_path(to_do, :to_do => { :complete => :true }), :method => :patch 
            %td= to_do.task_name
            %td= to_do.due_date
            %td= person.assignee_name
            %td= button_to 'Edit', edit_to_do_path(to_do), :method => :get
            %td= button_to 'Destroy', to_do, :method => :delete, :data => { :confirm => 'Are you sure?' }

.container
  .page-header
    %br
    %h2 Completed Tasks

    %table.table.table-hover
      %thead
        %tr
          %th Task name
          %th Assignee
          %th Edit
          %th Delete
      %tbody
      - @to_dos.each do |to_do|
        - person = Assignee.find(to_do.assignee_id)
        - if to_do.complete
          %tr
            %td= to_do.task_name
            %td= person.assignee_name
            %td= button_to 'Edit', edit_to_do_path(to_do), :method => :get
            %td= button_to 'Destroy', to_do, :method => :delete, :data => { :confirm => 'Are you sure?' }
