.page-header
.col-md-4
.jumbotron.col-md-4
  %h2 New Person

  / = To-Do Form = /
  %p.lead Add a person to assign a task.
  = bootstrap_form_for(@assignee, layout: :inline, label_col: "col-md-3", control_col: "col-md-7") do |f|
    - if @assignee.errors.any?
      #error_explanation
        %h2= "#{pluralize(@assignee.errors.count, "error")} prohibited this to_do from being saved:"
        %ul
          - @assignee.errors.full_messages.each do |msg|
            %li= msg
    
    = f.label "Name"
    = f.text_field :assignee_name, hide_label: true
    %br
    %br
    = f.submit 'Add Person', :class => "btn btn-success col-md-4"
    .col-md-1
    
    / = Back Button = /
    %a.btn.btn-primary.col-md-4{href: to_dos_path, method: "get"} Back to List
.col-md-4